:root {
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --accent: #2196f3;
  --white: #ffffff;
  --color-icon: #afb1b8;
  --color-footer-icon: rgba(47, 48, 58, 0.8);
}

body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

button {
  font-family: inherit;
}

.conteiner {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  background-color: #ffffff;
  outline: 2px solid tomato;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

/* цвет основготекста #212121 */
/* вторичный цекст цвета #757575 */
/* акцент #2196F3 */
/* белый #FFFFFF */

/* site-nav */
.logo {
  color: var(--accent);
}
.logo-text {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  color: black;
}

.site-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent);
}

.site-nav .link.current {
  color: var(--accent);
}

.auth-nav .link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.auth-nav .link:hover {
  color: var(--accent);
}

/* main */

.hero {
  background-color: #cccccc;
  text-align: center;
}

.hero-text {
  margin-top: 0;
  margin-bottom: 46px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17px;
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--primary-text-color);
}
.section-title {
  margin-top: 0;
  margin-bottom: 10;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.section-text {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.button {
  display: inline-block;
  min-width: 200px;
  color: var(--white);
  background-color: var(--accent);
  border-radius: 4px;
  padding: 10px 32px;
  text-align: center;
}

/* примущества */

.advantage {
  margin-top: 0;
  margin-bottom: 0;
}

/* чем мы занимаемся */

.experience-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--white);
}

/* наша команда */

.command-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}
.command-text {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.button-icon {
  color: var(--color-icon);
  background-color: var(--white);
}
.button-icon:hover {
  color: var(--white);
  background-color: var(--accent);
}
.centre {
  text-align: center;
}

/* footer */

.footer-icon {
  color: var(--white);
  background-color: var(--color-footer-icon);
}
.footer-icon:hover {
  background-color: var(--accent);
}
.adress {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  font-style: normal;
}

.footer-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.low {
  font-weight: 400;
  font-size: 12px;
  line-height: 2;
  text-align: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.4);
}

/* Портфолио */

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.portfolio-descriprion {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--white);
}

.button-pf {
  color: var(--primary-text-color);
  background-color: var(--white);
}

.button-pf:hover,
.button-pf:focus {
  color: var(--white);
  background-color: var(--accent);
}
